.flx{
    display: flex;
    gap: 20px;
}

.d1{
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
}


.chat{
         display: flex;
      flex-direction: column; 
      height: 400px;          
      border: 1px solid #444;
      border-radius:8px;
      overflow-y: auto;      
      padding: 8px;
      background-color: #222;   
}