.note-list-view {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;

  padding: 16px;
  box-sizing: border-box;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: white;
}


